# This .gitignore file is for Unity projects

# Ignore the build directory
[Bb]uild/
[Bb]uilds/

# Ignore temporary files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Aa]ssets/**/*.tmp

# Ignore user-specific files
[Dd]ocs/
[Mm]emoryCaptures/
[Pp]rojectSettings/EditorBuildSettings.asset

# Ignore logs
[Ll]ogs/
*.log

# Ignore user-specific preferences
*.userprefs
*.sublime-project
*.sublime-workspace
*.idea/
.vs/

# Ignore MonoDevelop files
*.user
*.sln.docstates

# Ignore Unity specific cache files
*.pidb
*.suo
*.sln
*.user

# Ignore large model files
# Specify the formats you want to ignore
*.fbx
*.obj
*.blend
*.3ds
*.max
*.dae

# Ignore specific directories and files in Assets
Assets/Models/
Assets/Materials/
Assets/Animation/
Assets/Free Stylized Skybox/
Assets/JMO Assets/
Assets/Sprites/
Assets/Scenes/
Assets/Settings/

# Ignore all meta files in ignored directories
Assets/**/.*.meta

# Allow everything in the Scripts folder
!Assets/Scripts/
!Assets/Scripts/**

# Allow .meta files for any tracked files (optional)
!*.meta

# Ignore everything else in the Library folder
[Ll]ibrary/**/*
!Library/metadata/
